/*
Theme: Atlanta - Free business bootstrap template
Description: Free to use for personal and commercial use
Author: WebThemez.com
Website: http://webthemez.com
Note: Please do not remove the footer backlink (webthemez.com)--(if you want to remove contact: webthemez@gmail.com)
Licence: Creative Commons Attribution 3.0** - http://creativecommons.org/licenses/by/3.0/
*/

/*General*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Open sans", Helvetica, Arial;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 30px;
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

.copyright {
    color: #6D6D6D;
    background: #000;
    padding: 20px 0;
    line-height: 34px;
}
#top {
    position: relative;
}
.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    background: #FF7A00;
}
.topHome .fa-2x {
    font-size: 20px;
    color: #fff;
    margin: 4px;
}
h2 {
    font-size: 40px;
    margin: 0;
    padding-bottom: 16px;
    font-variant: small-caps;
}

/* Header */
#head {
    background: #181015 url( ../images/bg_header.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
    font-size: 44px
}

#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
}

#head .lead {
    font-family: "Open sans", Helvetica, Arial;
    font-size: 44px;
    margin-bottom: 6px;
    color: white;
    line-height: 1.15em;
}

#head .tagline {
    color: rgba(255,255,255,0.75);
    margin-bottom: 25px;
}

#head .tagline a {
    color: #fff;
}

#head .btn {
    margin-bottom: 10px;
}

#head .btn-default {
    text-shadow: none;
    background: transparent;
    color: rgba(255,255,255,.5);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
    background: transparent;
}

#head .btn-default:hover,
		#head .btn-default:focus {
    color: rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
    background: transparent;
}

#head .btn-default:active, 
		#head .btn-default.active {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 0px 3px #fff;
    background: transparent;
}

.panel {
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-body {
    padding: 0px;
}

.btn-action, .btn-primary {
    color: #FFEFD7;
    background-image: -webkit-linear-gradient(top, #0ecfec 0%, #09bed9 100%);
    background-image: linear-gradient(to bottom, #0ecfec 0%, #09bed9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ecfec22', endColorstr='#09bed900', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 0 none;
}

.btn-action:hover, .btn-primary:hover {
    background: #04a0b7;
}

.slideUp {
    top: -100px;
}
.headroom {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
/* Highlights*/
.highlight {
    margin-top: 40px;
}

.h-caption {
    text-align: center;
}

.h-caption i {
    display: block;
    font-size: 54px;
    color: #ee0c45;
    margin-bottom: 36px;
}

.h-caption h4 {
    color: #382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h-body {
}

.jumbotron {
    background-color: #E0E0E0;
}


.page-title {
    margin-top: 20px;
    font-weight: 300;
    color: #ee0c45;
}

.text-muted {
    color: #888;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

ul.list-spaces li {
    margin-bottom: 10px;
}

/* Helpers */
.container-full {
    margin: 0 auto;
    width: 100%;
}

.top-space {
    margin-top: 60px;
}

.top-margin {
    margin-top: 20px;
}

img {
    max-width: 100%;
}

img.pull-right {
    margin-left: 10px;
}

img.pull-left {
    margin-right: 10px;
}

#map {
    width: 100%;
    height: 280px;
}

#social {
    margin-top: 50px;
    margin-bottom: 50px;
}

#social .wrapper {
    width: 340px;
    margin: 0 auto;
}

.sidebar {
    padding-top: 36px;
    padding-bottom: 30px;
}

.sidebar .panel {
    margin-bottom: 20px;
}

.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
    margin-top: 20px;
} 

/*--- Banner ----*/
.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    /*background: url("../images/banner-bg.jpg") no-repeat;*/
    background-size: 100% 100%;
    background-size: cover;
    position: relative;
}
.banner-container > img {
    width: 100%;
    
}
.banner-content {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
}
.banner-content h2 {
    color: #fff;
    font-size: 3.5em;
    margin: 2% 0 30px;
    line-height: 1.2em;
}
.banner-content p {
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}
.heroText {
    margin-top: 20%;
}
.heroText h2 {
    border: none;
    color: #FFF;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom: 0;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: bold;
}
.heroText h2 span {
    border: none;
    color: #FFF;
    text-transform: uppercase;
    line-height: 50px;
    padding-bottom: 0;
    font-size: 45px;
    margin-bottom: 35px;
    font-weight: normal;
}
.caption {
    border-bottom: 1px solid #7a7a7a;
    border-top: 1px solid #7a7a7a;
    color: #aeaeae;
    padding: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
}
.heading {
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
}
.pdingBtm30 {
    padding-bottom: 30px;
}
.da-arrows span:after {
    width: 25px;
    height: 24px;
}
.da-arrows span {
    position: absolute;
    top: 50%;
    height: 34px;
    width: 34px;
    border-radius: 60px;
    background: none;
}
.da-dots span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.13);
    margin: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6) inset, 1px 1px 1px rgba(255,255,255,0.1);
    border: 2px solid rgba(255, 255, 255, 0.6);
}
.secPad {
    padding: 60px 0;
}
/*Intro Content*/
#introText {
    padding: 50px 0;
    background: #FF7A00;
}
#introText h1 {
    font-size: 40px;
    margin: 0;
    padding-bottom: 16px;
    font-variant: small-caps;
    color: #fff;
}
#introText p {
    color: #FFD2A8;
    font-size: 16px;
}
#aboutUs{
padding-top:60px;   
    }
#aboutUs .txtHead {
    background: #fff;
    padding: 20px 10px;
}
#aboutUs .txtHead .fa {
    font-size: 58px;
    color: #5E5E5E;
}
.tileBox p {
    background-color: #f0f0f0;
    font-size: 15px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}